<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content=" default-src * 'unsafe-inline';script-src * 'unsafe-inline';style-src 'self' 'unsafe-inline';">
        <title>借阅情况</title>
        <script type="module" src="/assets/js/load-index.js"></script>
    </head>
    <body>
        <h1>图书借阅</h1>
        <table >
            <thead>
                <tr><th>姓名</th>
                    <th>学号</th>
                    <th>借阅量</th></tr>
            </thead>
            <tbody id="tbody">
                <tr><td>Tom</td>
                    <td>12152222</td>
                    <td>0</td></tr>
            </tbody>
        </table>

    </body>
</html>
